<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.attendance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Attendance"
        tools:replace="android:theme">
        <activity
            android:name=".t13_check_attendance_activity"
            android:exported="true"
            android:parentActivityName=".t11_get_attendance" />
        <activity
            android:name=".faculty.t13_faculty_dashboard"
            android:exported="false" />
        <activity
            android:name=".t12_attendance_retrieve"
            android:exported="true"
            android:parentActivityName=".t6_dashboard" />
        <activity
            android:name=".t11_get_attendance"
            android:exported="true"
            android:parentActivityName=".t6_dashboard" />
        <activity
            android:name=".t10_upload_timetable"
            android:exported="true"
            android:parentActivityName=".t9_time_table" />
        <activity
            android:name=".t9_time_table"
            android:exported="true"
            android:parentActivityName=".t6_dashboard" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:parentActivityName=".t6_dashboard" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />

        <activity
            android:name=".t8_setting"
            android:exported="true"
            android:parentActivityName=".t6_dashboard" />
        <activity
            android:name=".t7_profile"
            android:exported="true"
            android:parentActivityName=".t6_dashboard" />
        <activity
            android:name=".t6_dashboard"
            android:exported="true" />
        <activity android:name=".LoginSystem.t5_forget_password" />
        <activity android:name=".LoginSystem.t3_login" />
        <activity android:name=".LoginSystem.t4_signup" />
        <activity android:name=".LoginSystem.t2_login_signup_choice" />
        <activity
            android:name=".LoginSystem.t1_splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>